/* *::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
} */

#title{
    font-size: 30px;
    font-style: bold;
}

#navbar {
    position: absolute;
}

/* #header{
    position: absolute;
    top: 10px;
} */

#view-high-scores{
    vertical-align: top;
    color: indigo;
}

#timer-function{
    color: indigo;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    /* justify-content: center;
    align-items: center; */
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 0 10px 2px; */
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    background-color: indigo;
    color: white;
    border: 1px solid indigo;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover {
    opacity: 50%;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}